<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @tour.photo %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @tour.deadline %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %>
</p>

<p>
  <strong>Duration from:</strong>
  <%= @tour.duration_from %>
</p>

<p>
  <strong>Duration to:</strong>
  <%= @tour.duration_to %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @tour.start_loc %>
</p>

<p>
  <strong>Itenerary:</strong>
  <%= @tour.itenerary_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @tour.contact %>
</p>


<p>
  <strong>Total seats:</strong>
  <%= @tour.total_seats %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @tour.available_seats %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tour.status %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
